.dg-view .dg-s-1443dcef7dd0{height:0.6944em;}
.dg-view .dg-s-b9d9edcedd93{margin-right:0.2778em;}
.dg-view .dg-s-cd14554bf99c{height:0.8889em;vertical-align:-0.1944em;}
.dg-view .dg-s-d9c1af487725{margin-right:0.1667em;}
.dg-view .dg-s-d3fb92f487c7{margin-right:0.0359em;}
.dg-view .dg-s-dee713a0e9e4{height:0.8833em;vertical-align:-0.1944em;}
.dg-view .dg-s-0b48a9ef2786{height:0.625em;vertical-align:-0.1944em;}
