.dg-view .dg-s-1443dcef7dd0{height:0.6944em;}
.dg-view .dg-s-b9d9edcedd93{margin-right:0.2778em;}
.dg-view .dg-s-fc02a23bcdea{height:1em;vertical-align:-0.25em;}
.dg-view .dg-s-d9c1af487725{margin-right:0.1667em;}
.dg-view .dg-s-419c46662ab8{height:0.3011em;}
.dg-view .dg-s-0d6ec2eaa245{top:-2.55em;margin-left:0em;margin-right:0.05em;}
.dg-view .dg-s-1527d00b389b{height:2.7em;}
.dg-view .dg-s-4ebbf6d08588{height:0.1774em;}
.dg-view .dg-s-dee713a0e9e4{height:0.8833em;vertical-align:-0.1944em;}
.dg-view .dg-s-67bb96ca9b05{height:0.549em;vertical-align:-0.024em;}
.dg-view .dg-s-60e39db630fa{margin-right:0.1389em;}
.dg-view .dg-s-85c92d966084{height:0.4306em;}
